[submodule ".registry"]
	path = .registry
	url = https://github.com/dillonhammill/universe
	shallow = true
	branch = HEAD
[submodule "DataEditR"]
	path = DataEditR
	url = https://github.com/DillonHammill/DataEditR
	shallow = true
	registered = true
[submodule "HeatmapR"]
	path = HeatmapR
	url = https://github.com/DillonHammill/HeatmapR
	shallow = true
	registered = true
[submodule "CytoExploreRData"]
	path = CytoExploreRData
	url = https://github.com/DillonHammill/CytoExploreRData
	shallow = true
	subdir = pkg
	registered = true
[submodule "CytoExploreR"]
	path = CytoExploreR
	url = https://github.com/DillonHammill/CytoExploreR
	shallow = true
	subdir = pkg
	registered = true
