[submodule ".registry"]
	path = .registry
	url = https://github.com/dillonhammill/universe
	branch = HEAD
[submodule "CytoExploreR"]
	path = CytoExploreR
	url = https://github.com/DillonHammill/CytoExploreR
[submodule "CytoExploreRData"]
	path = CytoExploreRData
	url = https://github.com/DillonHammill/CytoExploreRData
[submodule "DataEditR"]
	path = DataEditR
	url = https://github.com/DillonHammill/DataEditR
[submodule "HeatmapR"]
	path = HeatmapR
	url = https://github.com/DillonHammill/HeatmapR
