[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataEditR"]
	path = DataEditR
	url = https://github.com/dillonhammill/dataeditr
